
body{
    background-color: aquamarine;
    display:flex;
    justify-content:center;
    align-items:space-between;
    flex-wrap:wrap;}

.main{

    max-width:500px;
    margin:2;
    padding:1rem;
    font-family: Arial, sans-serif;
    background-color:blueviolet;
    display:flex-start;
    flex-wrap:wrap;
    min-height:840px;
    display:flex;
    
    justify-content:baseline;


}
.form:{
    display:flex;
    justify-content:space-around;
    align-items:center;
    gap:10rem;
    background-color:palevioletred;
    padding:4rem;
    flex-wrap:wrap;
    row-gap:10rem;
     max-width:200px;
    min-height:700px;
}
.main-title{
    font-size:4.0rem;
    margin-bottom: 0.5rem;
    font-family:Arial,sans-serif;
    display:flex;}

    .main-subtitle{
        font-size:1.0rem;
        margin-bottom: 0.5rem;
        font-family:Arial,sans-serif;
        display:flex start;
    }

    .name-input{
        font-size:1.0rem;
        padding:0.5rem;
        border-radius:10px;
        border:2px solid orangered;
        font-family:Arial,sans-serif;

    }

    .input{
        font-size:2rem;
        padding:2rem;
        border-radius:5px;
        border:2px solid orangered;
        font-family:Arial,sans-serif;
    }

    .label{
        font-size:1.0rem;
        font-family:Arial,sans-serif;
    }

    .textarea{
        font-size:1.0rem;
        padding:1rem;
        border-radius:5px;
        border:2px solid orangered;
        font-family:Arial,sans-serif;
    }
.button{
    background-color:lightgrey;
    border:5px;
    border-radius:5px;
    width:min-content;
    border-color:orangered;
    padding:1rem;
    font-size:1.0rem;
    cursor:pointer;
    font-family:Arial,sans-serif;
}

.container{
    display:flex-start;
    justify-content:space-around;
    align-items:space-between;
    max-width:350px;
    max-height:840px;
    
    background-color:rgb(197, 127, 255)}
